<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Book Review Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      {% if session.get("user_id") %}
        <a href="{{ url_for('index') }}">Search</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
  </div>

  <div class="container">
    {% block body %}{% endblock %}
  </div>

</body>
</html>
